.menu-bar {
    background-color: #44a0ff;

    .menu-btn {
        border: none;
        border-radius: 50px;
        box-shadow: 0px 0px 3px 0px #7c0c0c;
        color: #fff;
        background-color: #c94d4d;
        font-family: "Poppins", sans-serif;
    }
}